<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .cz_title {
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }

        .content {
            margin: 0px 5px;
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="cz_title">
    星光用户充值遵守协议
</div>
<div class="content">
    <div style="margin: 10px 0px;">
        尊敬的微光用户，欢迎您使用本站的充值系统。
    </div>
</div>
</body>
</html>