<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/output.css}">
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
</head>
<body>
<nav id="nav"
     class="absolute lg:relative lg:flex lg:text-sm bg-indigo-darker lg:bg-transparent pin-l pin-r py-4 px-6 lg:pt-10 lg:pl-12 lg:pr-6 -mt-1 lg:mt-0 overflow-y-auto lg:w-1/5 lg:border-r z-40 hidden">
    <ul class="list-reset mb-8 w-full">
        <li class="ml-2 mb-4 flex">
            <img th:src="@{/images/home-default.svg}" alt="home-icon" class="w-4 h-4 mr-2">
            <div th:style="${navType == 'index'? 'font-weight:bold':''}" onclick="gotoXgIndex()"
                 class="hover:cursor-pointer text-white lg:text-indigo-darkest no-underline font-medium mobile-home-trigger">
                星光主页
            </div>
        </li>

        <div th:if="${login}">
            <li class="ml-2 mb-4 flex">
                <img th:src="@{/images/xingxing.svg}" alt="wishlist-icon" class="w-4 h-4 mr-2">
                <div id="money" th:style="${navType == 'money'? 'font-weight:bold':''}" onclick="gotoMoney()"
                     class="hover:cursor-pointer text-white lg:text-indigo-darkest no-underline font-medium mobile-home-trigger">
                    我的星币
                </div>
            </li>
            <li class="ml-2 mb-4 flex">
                <img th:src="@{/images/zuopin.svg}" alt="zuopin-icon" class="w-4 h-4 mr-2">
                <div class="hover:cursor-pointer text-white lg:text-indigo-darkest no-underline font-medium mobile-home-trigger">
                    我的作品
                </div>
            </li>
            <li class="ml-2 mb-4 flex lg:hidden">
                <img th:src="@{/images/profile-default.svg}" alt="profile-icon" class="w-4 h-4 mr-2">
                <div class="hover:cursor-pointer text-white lg:text-indigo-darkest no-underline font-medium"
                     id="mobile-profile-trigger">我的信息
                </div>
            </li>
            <li class="ml-2 mb-4">
                <div class="flex" id="sidenav-categories-trigger">
                    <img th:src="@{/images/category-default.svg}" alt="home-icon" class="w-4 h-4 mr-2">
                    <div class="hover:cursor-pointer text-white lg:text-indigo-darkest no-underline font-medium w-full relative">
                        其他操作
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-1 text-grey-darker"
                             id="sidenav-icon">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <ul class="text-grey lg:text-grey-dark list-reset leading-loose mt-2" id="sidenav-categories">
                    <li class="hover:text-indigo-dark hover:cursor-pointer transition-normal ml-1 border-l border-grey-dark pl-4">
                        我的收藏
                    </li>
                    <li class="hover:text-indigo-dark hover:cursor-pointer transition-normal ml-1 border-l border-grey-dark pl-4">
                        观看记录
                    </li>
                    <li class="hover:text-indigo-dark hover:cursor-pointer transition-normal ml-1 border-l border-grey-dark pl-4">
                        充值记录
                    </li>

                    <li class="text-indigo-lighter lg:text-indigo-darker font-medium flex justify-between items-center hover:cursor-pointer transition-normal ml-1 border-l border-grey-dark pl-4 mobile-home-trigger">
                        <span>我的消息</span>
                        <span class="bg-indigo-dark text-white text-xs rounded-full px-2 leading-normal"> </span>
                    </li>

                    <li onclick="exitUser()"
                        class="hover:text-indigo-dark hover:cursor-pointer transition-normal ml-1 border-l border-grey-dark pl-4">
                        退出账号
                    </li>
                </ul>
            </li>
        </div>

        <div th:if="not ${login}">
            <li class="ml-2 mb-4 flex">
                <img th:src="@{/images/xingxing.svg}" alt="wishlist-icon" class="w-4 h-4 mr-2">
                <div onclick="loginFun()"
                     class="hover:cursor-pointer text-white lg:text-indigo-darkest no-underline font-medium mobile-home-trigger">
                    用户登录
                </div>
            </li>

            <li class="ml-2 mb-4 flex">
                <img th:src="@{/images/xingxing.svg}" alt="wishlist-icon" class="w-4 h-4 mr-2">
                <div onclick="registerFun()"
                     class="hover:cursor-pointer text-white lg:text-indigo-darkest no-underline font-medium mobile-home-trigger">
                    用户注册
                </div>
            </li>
        </div>
        <div style="color: red;">
            请作者大胆放心上传自己的作品，在本网站的收益全部归您自己所有。
        </div>
    </ul>
</nav>
<input type="hidden" id="login" th:value="${login}"/>
<input type="hidden" id="SSO" th:value="${SSO}"/>
<input type="hidden" id="DATA" th:value="${DATA}"/>
</body>
<script th:src="@{/bundle.js}" async defer></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/jquery-1.9.1.min.js}"></script>
<script>

    function loginFun() {
        location.href = $("#SSO").val();
    }

    function registerFun() {
        location.href = $("#SSO").val() + "/register";
    }

    function gotoMoney() {
        location.href = $("#DATA").val() + "/money";
    }

    function gotoXgIndex() {
        location.href = $("#DATA").val();
    }

</script>
</html>